<header class="header">
    <div class="wrapper clearfix">
        <div class="account">
            <div class="account-info">
                <h5>Akash Pathak</h5>
                <p>UI Dev</p>
            </div>
        </div>
    </div>
</header>
