<section class="body">
    <div class="pageheader wrapper  aligncenter">
        <h1>TopGit
        </h1>
    </div>
    <div class="cardlist wrapper clearfix" ng-controller="usersController">
        <div class="grid-row individual-row">
            <div class="column">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" list="ProgName_list" ng-model="ProgName"
                               ng-change="myChange(ProgName)"
                               placeholder="Type an language e.g. Java" autofocus>
                        <a href="" class="search_clear" ng-click="clearfunction(this)"><span
                                class="lnr lnr-cross"></span></a>
                        <datalist id="ProgName_list">
                            <br></br><label>or select a language from list:</label><br><br>
                            <select ng-repeat="item_list in topgit_names track by $index">
                                <option value={{item_list}}>{{item_list}}</option>
                            </select>
                        </datalist>
                    </div>

                </div>
            </div>
        </div>

        <div class="wrapper narrowrap clearfix funnel_stat" ng-show="users.length > 0">
            <div class="card" ng-hide="onChange == false">
                <h3>we've found {{total_count}} repository in {{ProgName}}</h3>
                <label><span class="lnr lnr-funnel"></span> <strong>Sort By:</strong></label>
                <label class="radio"><input type="radio" name="width" ng-model="type" value='Title'
                                            ng-click="orderByMe('-size')"><span class="outer"><span
                        class="inner"></span></span>Size</label>

                <label class="radio"><input type="radio" name="width" ng-model="type" value='Release Year'
                                            ng-click="orderByMe('-stargazers_count')"><span class="outer"><span
                        class="inner"></span></span>Stars</label>

                <label class="radio"><input type="radio" name="width" ng-model="type" value='Duration'
                                            ng-click="orderByMe('-watchers_count')"><span class="outer"><span
                        class="inner"></span></span>Watchers Count</label>
                <label class="radio"><input type="radio" name="width" ng-model="type" value='rating'
                                            ng-click="orderByMe('-watchers')"><span class="outer"><span
                        class="inner"></span></span>Watchers</label>
            </div>
        </div>
        <!-- No spacing due to whitespace bug in Chrome. -->
        <div class="wrapper narrowrap clearfix" ng-show="!users.length > 0">
            <span ng-repeat="item in errorCode">
                    <div>
                        <h3 class="text-center">
                            {{ item.message }}
                        </h3>
                    </div>
            </span>
        </div>

        <div ng-repeat="item in users | filter:ProgName | orderBy:myOrderBy: false | limitTo: limit"
             ng-show="[item].length > 0" ng-hide="onChange == false">
            <div class="wrapper narrowrap clearfix" ng-model="users">


                <div class="cardinfowrap whitebox">
                    <div class="avatar-wrap">
                        <div class="avatar">
                            <img ng-src="{{ item.owner.avatar_url }}">
                        </div>
                    </div>

                    <div class="cardmeta">

                        <h2><span class="lnr lnr-film-play">&nbsp;</span>{{ item.name }}</h2>

                        <p><span class="lnr lnr-cloud-upload"></span> {{ item.size}}<span
                                class="inline-divider gray"><span
                                class="lnr lnr-eye"></span> {{ item.watchers_count }}</span>
                            <span class="inline-divider gray"><span class="lnr lnr-star"></span> {{ item.stargazers_count }}</span>
                        </p>

                        <p>
                            <span class="lnr lnr-link"></span><a href={{item.html_url}} target="_blank">
                            {{item.html_url}}</a>
                        </p>
                    </div>
                </div>


                <div class="globalrange whitebox">

                    <h3 class="subsectiontitle">
                        <span class="subsectiontitle_heading">
                            <span class="lnr lnr-flag">&nbsp;</span>Summary: </span>
                        <br> {{item.description}}
                    </h3>

                    <h3 class="subsectiontitle">
                        <span class="subsectiontitle_heading"><span class="lnr lnr-users">&nbsp;</span>Language: </span>
                        <br>{{item.language}}

                    </h3>
                </div>
            </div>


        </div>

        <li class="pagination" ng-hide="onChange == false" ng-if="users.length > 0">
            <ul class="pager ng-isolate-scope">
                <li class="disabled previous"><a href="" ng-click="incrementLimit()" ng-hide="limit < '5'">Show
                    More <span
                            class="lnr lnr-chevron-down"></span></a></li>
                <li class="next"><a href="" ng-click="decrementLimit()" ng-hide="limit <= '5'">Show Less <span
                        class="lnr lnr-chevron-up"></span></a></li>
            </ul>
        </li>
    </div>
</section>
